.user-profile img.user-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.user-image-profile
{
    margin: -90px 10px 0px 105px;
    z-index: 9;
    width: 20%;
}

@media (max-width:768px)
{

    .user-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .user-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }
}
